#container{
    /* border: 1px solid green; */
    width: 99vw;
    height: 99vh;
}

#backgroundVideo{
    /* border: 1px solid red; */
    height: 100%;
    display: flex;
    justify-content: center;
}

video{
   height: 100%;
}

.centeredCircles{
    /* border: 1px solid white; */
    width: 99vw;
    height: 99vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle1{
    border: 1px solid white;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    transition: transform 0.3s;
    visibility:hidden;
}

#circle2{
    border: 1px solid white;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    transition: transform 0.3s;
    visibility:hidden;
}

#circle3{
    border: 1px solid white;
    height: 260px;
    width: 260px;
    border-radius: 50%;
    transition: transform 0.3s;
    visibility:hidden;
}
